

.blocks {
    position: relative;
    list-style: none;
    overflow: hidden;


    li {
        position: absolute;
        top: 0;
        left: 0;
        @include transform(translate3d(0%,0%,0%));
        -webkit-backface-visibility: hidden;
        -webkit-transform-style: preserve-3d;
        overflow: hidden;

        &.change {
            display: none;
        }
    }

    &.animate {

        li {
            @include transition(all 0.2s ease-in-out);
        }
    }
}